.app { 
    margin : 10px;
    width: 300px
}
.table-form{
    width: 800px;
}
h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 49, 48);
    font-weight: 500;
}
.form { 
    margin-left : 20px;
    margin-top: 20px;
    width: 300px;
    display: inline-block;
}
.forms{
    margin-left: 50px;
    width: 800px;
}
.table {
    width: 800px;
    margin-left: 50px;
}
.textFieldGif {
    margin-bottom: 10px
}
.gifSearchButton{
    margin-bottom: 10px
}
.loading {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    border-right: 5px solid rgb(85, 73, 163);
    border-left: 5px solid #f1f1f1;
    border-bottom: 5px solid #f1f1f1;
    border-top: 5px solid #f1f1f1;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }